@import url("./../styles.css");

.body{
    /* width: 100vh; */
    /* height: 95vh; */
    /* display: flex; */
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-color: var(--gray-0); */

}